.slider-swiper-kinds {
  font-family: TTLakes-Regular;
  font-weight: 700;
  color: $color-title;
  letter-spacing: -$letter-spacing;
  line-height: $line-height-header--lg;

  &__header {
    box-sizing: border-box;
    height: 80px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    min-width: 288px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: $color-logo-slider-prices__title;
    font-weight: 500;
  }

  &__body {
    width: 100%;
  }

  @media (min-width: 768px) {
    &__header {
      height: 56px;
      margin-bottom: 24px;
      padding-left: 24px;
      margin-left: -24px;
      margin-right: -24px;
    }

    &__body {
      width: calc(100% + 29px);
      margin-bottom: 32px;
    }
  }
  @media (min-width: $screen-lg) {
    &__header {
      margin-left: -34px;
    }
    &__body {
      margin-bottom: 50px;
    }
  }
}
