.slider-swiper-prices {
  font-family: TTLakes-Regular;

  &__header {
    box-sizing: border-box;
    height: 80px;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
    padding-top: 16px;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    min-width: 288px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    color: $color-logo-slider-prices__title;
    font-weight: 500;
  }

  &__body {
    width: 100%;
  }
  &__details {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 480px;
  }
  &__special {
    margin-left: 16px;
    margin-right: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    cursor: pointer;
    img {
      transform: translate(5px, 2px);
    }
  }
}

@media (min-width: 768px) {
  &__header {
    height: 56px;
    margin-bottom: 24px;
    padding-left: 24px;
    margin-left: -24px;
    margin-right: -24px;
  }

  &__body {
    width: calc(100% + 29px);
  }
  &__details {
    margin: 0;
    margin-bottom: 16px;
  }
  &__special {
    margin: 0;
    margin-bottom: 47px;
  }
}

@media (min-width: $screen-lg) {
  &__header {
    margin-left: -34px;
  }
  &__body {
  }
  &__special {
    margin-bottom: 50px;
  }
}
