.button {
  border: none;
  background: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: 0.5;
    transform: scale(1.1);
  }
  @media (min-width: $screen-md) {
  }
  @media (min-width: $screen-lg) {
  }
}
