.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: TTLakes-Regular;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.72px;
  color: $color-logo-slider-prices__title;
  padding-top: 16px;
  border-top: solid $color-footer 1px;
  &__authors {
    margin-bottom: 16px;
  }
  &__policies {
    margin-bottom: 16px;
  }

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
    &__authors {
      text-align: left;
      min-width: 218px;
      margin: 0;
      margin-right: 35px;
      margin-left: 24px;
    }

    &__policies {
      min-width: 214px;
      margin: 0;
      margin-right: 40px;
    }
    &__information {
      text-align: right;
      max-width: 330px;
      margin: 0;
    }
  }
}
