.header {
  height: 88px;
  font-size: 0px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  z-index: 0;
  background-color: white;
  &--opacity-half {
    opacity: 3.5%;
  }
  &__menu.button {
    display: flex;
    align-items: center;
    block-size: auto;
    padding: 0;
    margin: 0;
    margin-right: 16px;
  }

  &__menu:first-child {
    margin-right: 16.73px;
  }

  &__menu:nth-child(2)::after {
    content: '';
    display: inline-block;
    width: 2px;
    height: 32px;
    background-color: $color-divider;
    margin-left: 15.73px;
    margin-right: 3px;
  }

  &__menu:last-child {
    margin-right: 0;
  }

  &__menu--hidden {
    position: absolute;
    visibility: hidden;
  }

  &__extend-container--hidden {
    display: none;
  }

  @media (min-width: $screen-md) {
    padding: 0 24px;

    &__menu.button {
      margin-right: 16px;
    }

    &__menu:first-child {
      margin-right: 20.73px;
    }

    &__menu:nth-child(1)::after {
      content: '';
      display: inline-block;
      padding: 0;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      margin-left: 20px;
      align-self: center;
    }

    &__menu:nth-child(2) {
      margin-right: auto;
    }

    &__menu:nth-child(2)::after {
      display: none;
    }

    &__menu:nth-child(5)::after {
      content: '';
      display: inline-block;
      width: 2px;
      height: 32px;
      background-color: #eaeaea;
      margin-left: 20px;
      margin-right: 4px;
      align-self: center;
    }

    &__menu:last-child {
      margin-right: 0;
    }

    &__menu--hidden {
      position: relative;
      visibility: visible;
    }
  }
  @media (min-width: $screen-lg) {
    &__action {
      display: inline-block;
      align-self: center;
      margin-right: 8px;
      line-height: $line-height-header--lg;
      letter-spacing: -$letter-spacing;
      font-family: TTLakes-Regular;
      font-weight: bold;
    }
    &__::before {
      margin-right: 30px;
    }

    &__menu:first-child::after {
      border: none;
    }

    &__menu.button {
      display: flex;
    }

    &__menu.button:first-child {
      margin-right: 32px;
    }

    &__menu.button:last-child {
      margin-right: 7px;
    }

    &__menu.button:nth-child(n)::after {
      display: none;
    }

    &--hidden {
      display: none;
    }
  }
}
