.list-menu {
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 24px;
    list-style: none;
  }

  &__link {
    cursor: pointer;
    height: 32px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-align: left;
    transition: 0.2s;
  }

  &__link:hover {
    color: #7e7e82;
    transition: 0.2s;
  }

  &__link::before {
    content: '';
    transform: translate(-22px, 0px);
    background-color: white;
    width: 4px;
    height: 32px;
    transition: 0.3s ease-in;
  }

  &__link:hover::before {
    transform: translate(-24px, -4px);
    display: inline-block;
    position: absolute;
    background: $color-title-line;
    box-sizing: border-box;
    width: 4px;
    height: 32px;
    vertical-align: middle;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  @media (min-width: $screen-md) {
    &__item {
      margin-bottom: 32px;
    }
  }
}
