.logo-slider-prices {
  &__wrapper {
    margin-left: 16px;
  }

  &__slide {
    box-sizing: border-box;
    width: 260px;
    height: 200px;

    background-color: white;
    border: 1px solid $color-divider;
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  &__text {
    position: relative;

    margin-bottom: 16px;
    font-size: $font-size-description-block;
    letter-spacing: $letter-spacing;
    line-height: $line-height-description-block--sm;
  }
  &__title {
    display: block;
    margin-bottom: 4px;

    color: $color-logo-slider-prices__title;
  }
  &____description {
    display: block;
  }

  &__button {
    box-sizing: border-box;
    width: 119px;
    height: 32px;
    background: none;
    border: none;
    border-radius: 16px;
    background-color: $color-button;
    position: absolute;
    bottom: 16px;
    right: 16px;
    color: white;
    font-size: 12px;
    font-weight: 700;

    line-height: $line-height-header--lg;
    letter-spacing: -0.15px;

    img {
      margin-left: 17px;
    }
  }

  &__fade {
    position: absolute;
    transform: translate(1px, -217px);
    right: 0;
    z-index: 1;
    width: 24px;
    height: 200px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  &__showmore {
    &--hidden {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  @media (min-width: $screen-md) {
    &__wrapper {
      flex-wrap: wrap;
      margin-left: 0;
      margin-bottom: 8px;
    }

    &__wrapper--open-margin-bottom {
      margin-bottom: 30px;
    }

    &__slide {
      width: calc(100% - 24px);
      height: 64px;
      justify-content: space-between;

      flex-direction: row;

      align-items: center;
      padding-right: 139px;
    }

    &__text {
      white-space: nowrap;
      width: 100px;

      margin-bottom: 0;
    }
    &__text:nth-child(3n-1) {
      white-space: nowrap;
      margin-right: 24px;
      width: 350px;
    }
    &__text:nth-child(2n-1) {
      white-space: nowrap;
      width: 74px;
    }
    &__title--hidden {
      display: none;
    }

    &__button {
      top: 16px;
      margin-left: 22px;
    }

    &__fade--hidden {
      display: none;
    }

    &__showmore {
      width: 156px;

      &--hidden {
        display: block;
      }
    }

    &__showmore-text {
      height: 24px;
      font-family: TTLakes-Regular;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: -0.2px;
      display: flex;
      align-items: center;
      margin-left: 24px;

      &::before {
        content: '';
        background-image: url('../img/services/expand.svg');
        height: 24px;
        width: 24px;
        margin-right: 9px;
      }
    }
  }
  @media (min-width: $screen-lg) {
    &__wrapper {
      margin-bottom: 16px;
    }
  }
}
