.mobile-menu {
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  font-family: TTLakes-Regular;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 676px;
  padding: 0 24px;
  z-index: 2;

  display: none;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;

  &__header {
    display: flex;
    height: 70px;

    margin-bottom: 22px;
  }

  &__exit {
    margin-top: 23px;
    margin-right: 16.73px;
  }
  &__logo {
    width: 97px;
    height: 51px;
    margin-top: 18.73px;
  }
  &__logo--hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &__logo--hover:hover {
    filter: grayscale(1);
  }

  &__search {
    margin-left: auto;
    margin-top: 23px;
  }

  &__body {
    width: 222px;

    padding: 0;
    padding-top: 4px;
    position: relative;
  }

  &__contacts {
    width: 196px;
    height: 124px;
    position: absolute;
    bottom: 64px;
    display: inline-block;

    font-size: 0;
  }

  &__call {
    margin-right: 16px;
  }

  &__chat {
    margin-right: 16px;
  }

  &__profile {
    margin-bottom: 16px;
  }

  &__mail {
    height: 24px;
    display: inline-block;
    margin-bottom: 12px;
    font-family: 'TTLakes-Regular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }

  &__phone {
    font-family: TTLakes-Bold;
    font-size: 24px;
    height: 32px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: left;
  }
  &--visible {
    display: block;
  }
  &__icon {
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-md) {
    min-height: 1024px;
    width: 320px;
    &__header {
      margin-bottom: 46px;
    }
  }
  @media (min-width: $screen-lg) {
    display: block;
    width: 306px;
    box-shadow: none;
    padding-right: 29px;
    &__header {
      align-items: center;
      margin-top: 21px;
    }
    &__logo {
      margin-top: 0;
    }
    &__exit {
      display: none;
    }
    &__search {
      margin-top: 0;
    }
  }
}
