.order-call {
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  font-family: TTLakes-Regular;
  font-weight: bold;
  box-sizing: border-box;
  width: 100%;
  height: 676px;
  padding: 0 16px;
  z-index: 2;

  display: none;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;

  &__title {
    font-size: $font-size-services__title;
    position: relative;
    padding-left: 16px;
    margin-left: -16px;

    margin-bottom: 24px;
    font-family: TTLakes-Bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6000000238418579px;
    text-align: left;
  }

  &__title::before {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0px;
    background: $color-title-line;
    width: 4px;
    height: 40px;
    border-width: 2px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  &__header {
    display: flex;

    margin-top: 24px;
    margin-bottom: 40px;
  }

  &__exit {
    margin-right: 16.73px;
  }

  &__logo {
    width: 97px;
    height: 51px;
    margin-top: 18.73px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
  }

  &__logo:hover {
    filter: grayscale(1);
    transform: scale(1.1);
  }

  &__search {
    margin-left: auto;
    margin-top: 23px;
  }

  &__body {
    width: 222px;

    padding: 0;
    padding-top: 4px;
    position: relative;
  }

  &__button {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    width: 136px;
    height: 32px;

    border: none;
    background: none;
    transition: all 0.2s ease-in-out;
    background-color: $color-button;
    font-family: TTLakes-Regular;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15000000596046448px;
    text-align: center;
    font-weight: 600;
    border-radius: 40px;
    color: white;
    display: block;
    margin-left: auto;
    &__button:hover {
      opacity: 0.5;
      transform: scale(1.1);
    }

    img {
      transform: translate(12px, 2px);
    }
  }
  &__input {
    box-sizing: border-box;
    border: 1px solid $color-divider;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    padding-left: 16px;
    margin-bottom: 2px;
  }
  &__agreement {
    font-family: TTLakes-Regular;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    font-weight: 200;
    margin-bottom: 16px;
    a {
      color: $color-button;
    }
  }
  &__icon {
    width: 100%;
    height: auto;
  }

  @media (min-width: $screen-md) {
    min-height: 1024px;
    width: 320px;
  }
  @media (min-width: $screen-lg) {
    width: 440px;
    box-shadow: none;

    padding: 0 32px 0 30px;
    &__header {
      align-items: center;
      margin-top: 21px;
    }

    &__header {
      height: 0;
      margin: 0;
      margin-top: 40px;
    }
    &__exit {
      display: block;
      position: absolute;
      margin: 0;
      left: -72px;
      top: 32px;
    }
    &__title {
      margin-left: -32px;
    }
  }
}

.mobile-menu--visible {
  display: block;
}
