.swiper-pagination {
  &__brands {
    position: relative;
  }
  &__kinds {
    position: relative;
    margin-bottom: 24px;
  }
  &__prices {
    position: relative;
    margin-bottom: 16px;
  }
}
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  top: 0px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: $color-pagination-bullet;
}

.swiper-pagination-bullet-active {
  background-color: $color-pagination-bullet-active;
}
