.title {
  width: 304px;
  height: 40px;
  font-family: TTLakes-Bold;
  color: $color-title;
  font-weight: 900;
  line-height: $line-height-services__title--lg;
  letter-spacing: $letter-spacing-title;
}
