@font-face {
  font-family: 'TTLakes-Bold';
  src: local('TT Lakes'), url(../fonts/TTLakes-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'TTLakes-Regular';
  src: local('TT Lakes'), url(../fonts/TTLakes-Regular.ttf) format('truetype');
}

$screen-md: 768px;

$screen-lg: 1366px;

$color-divider: #eaeaea;
$color-title-line: #41f6d7;
$color-title: #1b1c21;
$color-logo-slider-prices__title: #7e7e82;
$color-button: #ff3e79;
$color-footer: #d9fff5;
$color-services: #f8f8f8;
$color-pagination-bullet: #dddddd;
$color-pagination-bullet-active: #b5b6bc;

$font-size-description-block: 14px;
$font-size-readmore: 16px;
$font-size-services__title: 28px;

$line-height-description-block--sm: 18px;
$line-height-description-block--md: 20px;
$line-height-header--lg: 24px;
$line-height-services__title--lg: 40px;

$letter-spacing: 0.2px;
$letter-spacing-title: 0.6px;
